img {
    height: auto;
    width: 750px;
    outline: auto;
}

body {
    background-color: beige;
    text-align: center;
}

h1 {
    text-align: center;
    color: maroon;
    outline: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 16px 400px;
}

ul {
    list-style: none;
}

.items {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: maroon;
    background-color: white ;
}

img {
    padding: 15px 15px;
    background-color: lightgreen;
}

#item1 {
    outline: solid black;
    margin: 16px 400px;
}

#item2 {
    outline: solid black;
    margin: 16px 400px;
}

#item3 {
    outline: solid black;
    margin: 16px 400px;
}
